rsbc-ride-payment-query-svc/jh-etk-common/src/main/resources/schema/ICBC/RSI_InformationManager.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://icbc.net/RSI_InformationManager" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://icbc.net/RSI_InformationManager">

	<!-- Version 2.1.3 - sizing of fields and enforcement of occurrences. and temp change to ticket number and count. -->
	<!-- Version 2.1.5 - Changes for Sprint 5.3 -->
	<!-- Version 2.1.6 - Changes for Sprint 5.4 -->
	<!-- Version 3.0.0 - Changes for Sprint 6.2 -->
	<!-- Version 3.0.1 - Changes for Sprint 6.3 -->
	<!-- Version 3.0.2 - Changes for Sprint 6.4 -->
	<!-- Version 3.0.3 - Changes for Sprint 6.5 -->
	<!-- Version 3.0.4 - Changes for MCOT -->
	<!-- Version 3.0.5 - Changes to relax schema & MRE,ServingOfficer -->
	<!-- Version 3.0.6 - Added SchemaStyleVersion -->
	<!-- Version 3.0.7 - OfficerNumber can now be less than 6 chars -->
	<!-- Version 3.0.8 - VIOLATION DATE, COS DATE OF SERVICE,COS SERVED TO, COS FORM NUMBER (Trans) - change to optional -->
	
	<xsd:element ibmSchExtn:docRoot="true" name="createContraventionRequest" type="tns:createContraventionRequest"/>
	<xsd:element ibmSchExtn:docRoot="true" name="createContraventionResponse">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="tns:createContraventionResponse"/>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="createContraventionRequest">
		<xsd:sequence>
		<xsd:element maxOccurs="1" minOccurs="0" name="MREMinorVersion" nillable="true">
			<xsd:simpleType>
				<xsd:restriction base="tns:string_FreeFormText">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element maxOccurs="1" minOccurs="0" name="SchemaStyleVersion" nillable="true">
			<xsd:simpleType>
				<xsd:restriction base="tns:string_FreeFormText">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element maxOccurs="1" minOccurs="1" name="Submission" nillable="false" type="tns:SubmissionType"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="Party" nillable="false" type="tns:PartyType"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="Violation" nillable="false" type="tns:ViolationType">
				<xsd:unique name="countNumKey">
					<xsd:selector xpath=".//*"/>
					<xsd:field xpath="CountNumber"/>
				</xsd:unique>
			</xsd:element>	
			<xsd:element maxOccurs="1" minOccurs="0" name="Vehicle" nillable="true" type="tns:VehicleType"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="Enforcement" nillable="false" type="tns:EnforcementType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="CertificateOfService" nillable="true" type="tns:CertificateOfServiceType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="createContraventionResponse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:complexType name="SubmissionType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="DateSubmitted" nillable="false" type="xsd:date"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="TimeSent" nillable="false" type="tns:string_24hr_time"/>
		</xsd:sequence>

	</xsd:complexType>
	<!-- By making a choice where  CorporateParty is mandatory and IndividualParty is optional or IndividualParty is mandatory allows for either 1 or the other or both -->
	<xsd:complexType name="PartyType">
		<!--     <xsd:choice maxOccurs="1" minOccurs="1">
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="CorporateParty" nillable="false" type="tns:CorporatePartyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IndividualParty" nillable="true" type="tns:IndividualPartyType"/>
         </xsd:sequence>
      </xsd:choice> -->
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="IndividualParty" nillable="false" type="tns:IndividualPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--
   <xsd:complexType name="CorporatePartyType">
      <xsd:sequence>
         This should be a mandatory field
         <xsd:element maxOccurs="1" minOccurs="0" name="CorporateName1" nillable="true">
            <xsd:simpleType>
               <xsd:restriction base="tns:string_FreeFormText">
                  <xsd:maxLength value="75"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element maxOccurs="1" minOccurs="0" name="CorporateAddress" nillable="true" type="tns:AddressType"/>
      </xsd:sequence>
   </xsd:complexType>
-->
	<xsd:complexType name="IndividualPartyType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Surname" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="GivenName1" nillable="true" type="tns:string_GivenName"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="GivenName2" nillable="true" type="tns:string_GivenName"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="GivenName3" nillable="true" type="tns:string_GivenName"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Gender" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="M"/>
						<xsd:enumeration value="F"/>
						<xsd:enumeration value="U"/>
						<xsd:enumeration value="X"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="BirthDate" nillable="true" type="xsd:date"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="YoungPerson" nillable="true" type="tns:bool_y_n"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ChangeOfAddressFlag" nillable="true" type="tns:bool_y_n"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ResidenceAddress" nillable="true" type="tns:AddressType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="DriverLicense" nillable="true" type="tns:DriverLicenseType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DriverLicenseType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="LicenseProduced" nillable="true" type="tns:bool_y_n"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Number" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="ExpiryYear" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Free-form text field</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Jurisdiction" nillable="true" type="tns:JurisdictionType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViolationType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="TicketNumber" nillable="false" type="tns:TicketNumberType"/>

			<xsd:element maxOccurs="1" minOccurs="1" name="OffenderDescription" nillable="false">
				<xsd:annotation>
					<xsd:documentation>(D)river, (C)yclist, (P)edestrian, P(A)ssenger</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="tns:string_required">
						<xsd:maxLength value="20"/>
						<xsd:enumeration value="DRIVER"/>
						<xsd:enumeration value="CYCLIST"/>
						<xsd:enumeration value="PEDESTRIAN"/>
						<xsd:enumeration value="PASSENGER"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="ViolationDate" nillable="false" type="xsd:date"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="ViolationTime" nillable="false" type="tns:string_24hr_time"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Highway" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="CityCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="CityName" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="DisputeAddress" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element maxOccurs="1" minOccurs="0" name="CourtLocation" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="3" minOccurs="1" name="Count" nillable="false" type="tns:CountType"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="EVTFormNumber" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="TicketNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
			<xsd:pattern value="[E][A-Z]([0-9]){7}[0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- MVA or MVR -->
	<xsd:complexType name="CountType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="CountNumber" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:length value="1"/>
						<xsd:pattern value="[1-3]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Act" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Section" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="OffenseDescription" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Amount" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:maxInclusive value="99999.99"/>
						<xsd:fractionDigits value="2"/>
						<xsd:totalDigits value="7"/>
						<xsd:minInclusive value="0.00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VehicleType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="RegisteredOwnerName" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="83"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element maxOccurs="1" minOccurs="0" name="TypeCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="MakeCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Colour" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Year" nillable="true" type="tns:string_year"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Accident" nillable="true" type="tns:bool_y_n"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="VehicleLicense" nillable="true" type="tns:VehicleLicenseType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="NSC" nillable="true" type="tns:NscType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VehicleLicenseType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Number" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Jurisdiction" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NscType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="RegistrationCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Jurisdiction" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="EnforcementType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="OfficerNumber1" nillable="true" type="tns:string_OfficerNumber"/>

			<xsd:element maxOccurs="1" minOccurs="0" name="DetachmentCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Detachment" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="OfficerName1" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="79"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="WitnessingOfficerID" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="WitnessingOfficerName" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="79"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="ServingOfficerName" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="79"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CertificateOfServiceType">
		<xsd:sequence>

			<xsd:element maxOccurs="1" minOccurs="0" name="ServedTo" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="DateOfService" nillable="false" type="xsd:date"/>

			<xsd:element maxOccurs="1" minOccurs="0" name="COSFormNumber" nillable="false">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="StreetAddress" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="City" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Jurisdiction" nillable="true" type="tns:JurisdictionType"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="JurisdictionType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Code" nillable="true">
				<xsd:simpleType>
					<xsd:restriction base="tns:string_FreeFormText">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Custom data types -->

	<xsd:simpleType name="string_required">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:pattern value=".*[^\s].*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_FreeFormText">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="string_GivenName">
		<xsd:restriction base="tns:string_FreeFormText">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_24hr_time">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="4"/>
					<xsd:pattern value="[0-1][0-9][0-5][0-9]"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="4"/>
					<xsd:pattern value="[2][0-3][0-5][0-9]"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="bool_y_n">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_year">
		<xsd:restriction base="tns:string_FreeFormText">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_OfficerNumber">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_mix_alpha_numeric_empty">
		<xsd:restriction base="tns:string_required">
			<xsd:pattern value="([A-Za-z0-9])*"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>